
h1 {
  font-family: "open sans";
	text-align: center;
}


.image {
	margin: 5px;
}


.container{
  display: flex;
}

.n {
  font-family: "open sans";
  font-size: 35px;
  text-align: center;
}

.title {
  background-color: grey;
	  font-family: "open sans";
  padding: 15px;
  text-align: center;
}

li {
   font-size: 25px;
    padding: 25px;
}

.instructions {
 background-color: lightgrey;
  font-family: "open sans";
  font-size: 30px;
  min-width: 10%;
	padding: 30px;

}

.b {
  background-color: black;
  height: 2000px;
}

.s {
  background-color: black;
  height: 10px;
}

.col-sm-8 {
  background-color: lightgrey;
  padding: 15px;
border: 10px solid black;
}

.image{
    background-color: grey;
    max-width: 100%;
    min-width: 210px;
float: right;
}
.t{
	float: left;
}

p {
font-size: 25px;
}
